<section class="pietnastka-grid">
  <ul class="pietnastka-grid__row">
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        1
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        2
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        3
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        4
      </div>
    </li>
  </ul>
  <ul class="pietnastka-grid__row">
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        5
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        6
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        7
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        8
      </div>
    </li>
  </ul>
  <ul class="pietnastka-grid__row">
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        9
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        10
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        11
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number jsDraggable" draggable="true">
        12
      </div>
    </li>
  </ul>
  <ul class="pietnastka-grid__row">
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        13
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div class="pietnastka-grid__number" draggable="false">
        14
      </div>
    </li>
    <li class="pietnastka-grid__item">
      <div id="mietek" class="pietnastka-grid__number jsDraggable" draggable="true">
        15
      </div>
    </li>
    <li class="pietnastka-grid__item empty" #empty></li>
  </ul>
</section>
